.todo {
  border: solid 1px #eee;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 20px 30px;
  font-size: 14px;
  font-weight: 700;
  color: #4b4b4b;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.actions {
  margin-left: 10px;
}
.btn {
  color: #4b4b4b;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  padding: 3px 8px;
  margin: 3px;
  cursor: pointer;
  transition: 100ms;
}
.btn:hover {
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.15);
}
.btn:focus{
  border: none;
  outline:none;
}
.primary {
  background-color: cornflowerblue;
  color: #f5f5f5;
}
.danger {
  background-color: tomato;
  color: #f5f5f5;
}